* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 2, 36);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.wrapper {
  max-width: 1300px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  padding: 20px;
}
.title {
  flex-basis: 80%;
  padding: 50px 0;
  font-size: 50px;
  font-family: "Permanent Marker", cursive;
  text-align: center;
  letter-spacing: 3px;
  color: white;
}
.playlist_mobile {
  flex-basis: 20%;
  height: 50px;
  position: fixed;
  top: 5%;
  right: 5%;
  color: white;
  cursor: pointer;
}
.playlist {
  flex-basis: 30%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;
  transition: 0.5s;
}
.playlist .wrapper {
  border-right: 3px solid white;
}
.playlist_title {
  padding: 20px;
  color: white;
  text-align: center;
}
.playlist .list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
.playlist .list .song {
  flex-basis: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  position: relative;
}
.playlist .list .song::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  height: 2px;
  background-color: white;
}
.playlist .list .song .number {
  font-size: 18px;
  color: white;
  margin-right: 20px;
}
.playlist .list .song img {
  width: 64px;
  height: 64px;
  cursor: pointer;
}
.playlist .list .song .song_info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  margin-right: 10px;
}
.playlist .list .song .song_info .song_title {
  flex-basis: 100%;
  text-align: center;
  color: White;
  font-weight: bold;
}
.playlist .list .song .song_info .song_author {
  flex-basis: 100%;
  text-align: center;
  color: rgb(52, 65, 65);
}
.playlist .list .song i {
  color: white;
  font-size: 20px;
  cursor: pointer;
  padding: 20px;
}
.main {
  flex-basis: 65%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main .unactiveSong {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.main .unactiveSong h2,
.main .unactiveSong h3 {
  flex-basis: 100%;
  font-size: 35px;
  text-align: center;
  color: white;
  font-family: "Permanent Marker", cursive;
  margin-top: 20px;
}
.main .activeSong {
  width: 100%;
  height: 100%;
}
.main .now {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main .now .active_song_info {
  flex-basis: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main .now .active_song_info .active_song_title,
.main .now .active_song_info .active_song_author {
  width: 100%;
  text-align: center;
  letter-spacing: 2px;
  font-size: 35px;
  margin-top: 20px;
  color: white;
}
.main .now .active_song_info .active_song_author {
  font-size: 30px;
  color: dimgrey;
}
.main .now .active_song_image {
  flex-basis: 60%;
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.main .time,
.main .icons {
  flex-basis: 100%;
  text-align: center;
  padding: 10px;
}
.main .time {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.main .time span {
  margin: 0 30px;
  color: white;
}
.main .time .bar {
  flex-basis: 60%;
  position: relative;
  height: 2px;
  background-color: dimgrey;
}
.main .time .bar .time_bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  background-color: #fff;
}
.main .time .bar .dot {
  position: absolute;
  top: -2px;
  left: 0;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: white;
  transition: 1s;
}
.main .time .bar .dot::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  width: 15px;
  height: 15px;
  border: 1px solid white;
  border-radius: 50%;
  box-shadow: inset 0 0 3px white;
}
.main .time .bar input {
  position: absolute;
  top: -6px;
  left: 0;
  width: 100%;
  transition: 3s;
  z-index: 999;
  opacity: 0;
  cursor: pointer;
}
.main .icons i {
  font-size: 25px;
  margin: 0 40px;
  color: white;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: rgb(1, 104, 138);
}

.hidden {
  display: none !important;
}
.playlist.visible {
  left: 0;
}

/* responsive */

@media (max-width: 1005px) {
  .playlist {
    flex-basis: 35%;
  }
  .main {
    flex-basis: 55%;
  }
}
@media (max-width: 860px) {
  .playlist_mobile {
    display: block !important;
    font-size: 30px;
  }
  .playlist {
    position: fixed;
    background-color: black;
    width: 50%;
    height: 100%;
    top: 0;
    left: -100%;
  }
  .main .time {
    width: 80vw;
  }
}
@media (max-width: 650px) {
  .title {
    font-size: 35px;
    margin-top: 10px;
  }
  .main .now .active_song_info .active_song_title,
  .main .now .active_song_info .active_song_author {
    font-size: 25px;
  }
}
